<div class="modal login-container">  
  <div class="login-wrap">
    <div style="position: fixed; top: {{ half }}px; width: 100%;" id="logo-container">
        <img src="img/logo.png" alt="Logo Poseidon" class="logo" id="logo"/>
    </div>
    <div class="in-bottom">
        <input type="email" ng-model="email" placeholder="Email">
        <input type="password" ng-model="password" placeholder="Senha">
        <button type="button" ng-click="doLogin()">
              {{ doing ? 'Entrando...' : 'Entrar' }}
        </button>
    </div>
  </div>
</div>

