<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon {{ sendingData ? 'ion-looping' : 'ion-loop' }}"
                  ng-click="sendData()"></button>
    </ion-nav-buttons>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/roteiros">
          <i class="icon ion-map menu-icon"></i>
          Roteiros
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pedido-list">
          <i class="icon ion-thumbsup menu-icon"></i>
          Pedidos
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sem-pedido-list">
          <i class="icon ion-briefcase menu-icon"></i>
          Sem Pedido
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/clientes">
          <i class="icon ion-ios7-people menu-icon"></i>
          Clientes
        </ion-item>
        <ion-item nav-clear menu-close ng-click="doLogoff()">
          <i class="icon ion-log-out menu-icon"></i>
          Sair
        </ion-item>
        <ion-item>
          Versão do aplicativo: 
          {{ appVersion }}
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
