<ion-view title="Informações">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            <a class="item clickable-icon item-icon-left" href="#/app/pedido/{{ roteiroId }}/0">
                <i class="icon ion-thumbsup"></i>
                Novo Pedido
            </a>

            <a class="item clickable-icon item-icon-left" href="#/app/sem-pedido/{{ roteiroId }}/0">
                <i class="icon ion-briefcase"></i>
                Sem Pedido
            </a>

            <div class="item item-divider">
                {{ roteiro.nome }}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-pound"></i>
                {{ roteiro.cliente }} / {{ roteiro.lojacli }}
                <span class="item-note">Cliente / Loja</span>
            </div>

            <div class="item item-icon-left" ng-if="roteiro.cliente_info.email">
                <i class="icon ion-email"></i>
                <a href="mailto:{{ roteiro.cliente_info.email }}">
                    {{ roteiro.cliente_info.email }}
                </a>
                <span class="item-note">Email</span>
            </div>

            <div class="item item-icon-left wrap">
                <i class="icon ion-map"></i>
                {{ roteiro.cliente_info.endereco }}. {{ roteiro.cliente_info.bairro }} -
                {{ roteiro.cliente_info.cidade }}/SC - {{ roteiro.cliente_info.cep }}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                <a href="tel:{{ roteiro.cliente_info.tel }}">
                    {{ roteiro.cliente_info.tel }}
                </a>
                <span class="item-note">Telefone</span>
            </div>

            <div class="item item-icon-left" ng-if="roteiro.cliente_info.tel2">
                <i class="icon ion-ios7-telephone"></i>
                <a href="tel:{{ roteiro.cliente_info.tel2 }}">
                    {{ roteiro.cliente_info.tel2 }}
                </a>
                <span class="item-note">Telefone 2</span>
            </div>

            <div class="item item-icon-left" ng-if="condPag.E4_DESCRI">
                <i class="icon ion-social-usd"></i>
                {{ condPag.E4_DESCRI }}
                <span class="item-note">Condição de pagamento</span>
            </div>

            <div class="item item-icon-left" ng-if="forReceb.ZJ2_DESC">
                <i class="icon ion-share"></i>
                {{ forReceb.ZJ2_DESC }}
                <span class="item-note">Forma de recebimento</span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-bookmark"></i>
                {{ roteiro.potencial }} / {{ roteiro.cliente_info.segmento }}
                <span class="item-note">Potencial / Segmento</span>
            </div>

            <div class="item item-divider">
                Crédito
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-card"></i>
                {{ $helpers.toReal(roteiro.cliente_info.limite) }}<span class="item-note">Limite de crédito</span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-card"></i>
                {{ $helpers.toReal(roteiro.cliente_info.saldo_limite) }}<span class="item-note">Saldo de crédito</span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-cash"></i>
                {{ $helpers.toReal(roteiro.cliente_info.saldo_titulo) }}<span class="item-note">Saldo de títulos</span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-arrow-graph-up-right"></i>
                {{ roteiro.cliente_info.media_atraso }} dias
                <span class="item-note">Média de atraso</span>
            </div>

        </div>

    </ion-content>
</ion-view>
