<ion-view title="Roteiro - Sem Pedido">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <br class="clear"/>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Evento
                </div>
                <select id="input-evento" ng-model="evento" placeholder="Evento">
                    <option ng-repeat="evento in eventos" value="{{ evento.AC5_EVENTO }}">
                        {{ evento.AC5_DESCRI }}
                    </option>
                </select>
            </label>

            <label class="item item-input">
                <textarea type="text" id="input-obs" ng-model="obs" placeholder="Observação"></textarea>
            </label>
        </div>

        <br class="clear"/>

        <button class="button button-balanced centered" ng-click="save()">
            {{ saving ? 'Salvando...' : 'Salvar' }}
        </button>
    </ion-content>
</ion-view>
