/* Empty. Add your own CSS if you like */

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clear{
    clear: both;
}

.hidden{
    display: none;
}

.aleft{
    text-align: left;
}

.aright{
    text-align: right;
}

.item.wrap{
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
}

.center{
    text-align: center;
}

.top-spaced{
    padding-top: 34px;
}

.centered{
    display: block;
    margin: 0 auto;
}

.v-center{
    vertical-align: middle;
}

.width-100{
    width: 100%;
}

.width-50{
    width: 50%;
}

.width-80p{
    width: 80px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.padding-vertical{
    padding-top: 13px;
    padding-bottom: 13px;
}

.button.centered{
    display: block;
    margin: 0 auto;
    width: 88%;
}

.highlight{
    background: #dddddd;
}

.icon-md{
    font-size: 24px;
}

.big-icon{
    font-size: 28px;
}

.disabled{
    opacity: 0.5;
}

.icon-roteiro.success{
    color: #498f24;
}

.icon-roteiro.error{
    color: #cc2311;    
}

img{
    max-width: 100%;
}

a,
a:visited,
a:hover{
    color: #333;
    text-decoration: none;
}

.action-icons{
    position: absolute;
    right: 13px;
    z-index: 9999;
}

.menu-icon{
    font-size: 21px;
    margin-right: 8px;
    width: 16px;
    display: inline-block;
}

ion-nav-bar,
ion-side-menu header
{
    background: #002941 !important;    
}


ion-nav-bar h1,
ion-nav-bar i,
ion-nav-bar button,
ion-side-menu h1{
    color: #FFF !important;
    text-shadow: none;
}

ion-side-menu{
    background: #002941 !important;
}

ion-side-menu a,
ion-side-menu ion-item,
.clickable-icon{
    background: #003E61 !important;
    color: #FFF !important;
    border-color: #002941 !important;
}





/*
 * table
 */

table td,
table th{
    border-bottom: 1px solid #666;
    padding: 8px 5px;
    vertical-align: middle;
}

table th,
table td,
table th input{
    font-size: 18px;
}

td.desc{
    font-size: 15px;
}

td p{
    font-size: 15px;
    color: #AAA;
}

table th{
    background: #EEE;
}

/*
 * Login
 */
 
img.logo{
    margin: 0 auto 38% auto;
    width: 55%;    
    display: block;
}

.login-container{
    position: fixed;
    width: 100%;
    height: 100%;    
    top: 0;
    left: 0;
    background: #002941 url(../img/login-background.png) top left no-repeat;
    z-index: 99999999;
}


.login-wrap .bar.bar-assertive{
    max-width: 400px;
    margin: 0 auto;
}

h1{
    font-family: Arial;
    text-shadow: 2px 2px 2px #AAA;
    color: #222255;
}

.login-container input{
    margin: 8px auto;
    width: 88%;
    border-radius: 2px;
    height: 21px;
    font-size: 11px;
    padding-left: 13px;
}

.login-container button{
    background: #003E61;
    width: 88%;
    color: #FFF;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
    height: 21px;
}

.login-container button,
.login-container input,
.login-container img{
    max-width: 300px;
    font-family: Arial;
}

.login-container ion-header-bar,
.login-container ion-content{
    background: transparent;
    max-width: 400px;
    margin: 0 auto;
}

.in-bottom{
    z-index: 999999;
    position: fixed;
    width: 100%;
    bottom: 55px;
}

